<% if mentee_signed_in? %>

  <section id="banner">
    <h2>Find A Mentor</h2>
    <p>Browse through our list of awesome, talented professionals and get in touch.</p>
  </section>

  <table>
  <%= search_form_for @search do |f| %>
    <tr class="nil">
      <td class="nil"><%= f.label :name_cont, "Name contains: " %></td>
      <td class="nil"><%= f.search_field :name_cont %></td>
      <td class="nil"><%= f.label :occupation_cont, "Occupation contains: " %></td>
      <td class="nil"><%= f.search_field :occupation_cont %></td>
    <tr class="nil">
      <td class="nil"><%= f.submit %></td>
    </tr>
  <% end %>
  </table>

 
  <% if @mentors.empty? %>
    <h2>No mentors were found with those criteria.  Try again?</h2>
  <% else %>
    <table>
    <% @mentors.each do |m| %>
      <tr><td>Name:</td><td><%= m.name %></td></tr>
      <tr><td>Email address:</td><td><%= m.email %></td></tr>
      <tr><td>Occupation:</td><td><%= m.occupation %></td></tr>
    <% end %>
    </table>
  <% end %>

  <%= will_paginate @mentors %>
<% else %>
  <section id="banner">
    <h2>You need to be signed in as a mentee to find mentors!</h2>
    <ul class="actions">
      <li><%= link_to "Mentee Sign In", new_mentee_session_path, class: "button" %></li>
    </ul>
  </section>
  <%= link_to "Sign in", new_mentee_session_path %><br>
  <%= link_to "Sign up", new_mentee_registration_path %>
<% end %>