<table class="nil">
<%= search_form_for @search do |f| %>
  <tr class="nil">
  <td class="nil"><%= f.label :name_cont, "Name contains: " %></td>
  <td class="nil"><%= f.search_field :name_cont %></td>
  </tr>
  <tr class="nil">
  <td class="nil"><%= f.label :occupation_cont, "Occupation contains: " %></td>
  <td class="nil"><%= f.search_field :occupation_cont %></td>
  <tr class="nil">
    <td class="nil"><%= f.submit %></td>
  </tr>
<% end %>
</table>

<table>
<% @mentors.each do |m| %>
  <tr><td>Name:</td><td><%= m.name %></td></tr>
  <tr><td>Email address:</td><td><%= m.email %></td></tr>
  <tr><td>Occupation:</td><td><%= m.occupation %></td></tr>
<% end %>
</table>

<%= will_paginate @mentors %>