<p id="notice"><%= notice %></p>

<p>
  <strong>Mentor:</strong>
  <%= @review.mentor_id %>
</p>

<p>
  <strong>Mentee:</strong>
  <%= @review.mentee_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
